  * {
   /* outline: 2px solid red; */
    align-content: center;
    max-width: 10000px;
  } 
  
 body {
  text-align: center;
  justify-content: center;
  align-content: space-between;
  /* display: flex; */
  background: rgb(254, 228, 254);
 }

h1 {
  padding: 16px;
  text-align: center;
  min-width: fit-content;
  width: auto;
  background: rgb(254, 228, 254);
}

.main {
 display: flex;
 align-items: center;
 justify-content: center;

  }

.gallery-pics{
   /* height: auto; */
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    min-width: fit-content;
    gap: 8px;
    flex: 1;
    flex-basis: 250px;
  }

.img div {
    height: auto;
    width: 250px;
    max-width: 300px;
    flex-basis: 450px;
  }
  
